# Hyperparameter Tuning Config: mhsa_geolife_trial17
# Model: mhsa, Dataset: geolife, Trial: 17
# Hyperparameters: {'base_emb_size': 64, 'num_encoder_layers': 2, 'nhead': 4, 'dim_feedforward': 256, 'fc_dropout': 0.15, 'lr': 0.001, 'weight_decay': 1e-05, 'batch_size': 32, 'num_warmup_epochs': 2, 'trial_idx': 17, 'model_name': 'mhsa', 'dataset': 'geolife'}

seed: 42
data:
  data_dir: data/geolife_eps20/processed
  dataset_prefix: geolife_eps20_prev7
  dataset: geolife
  experiment_root: experiments
training:
  if_embed_user: true
  if_embed_poi: false
  if_embed_time: true
  if_embed_duration: true
  previous_day: 7
  verbose: true
  debug: false
  batch_size: 32
  print_step: 20
  num_workers: 0
  day_selection: default
dataset_info:
  total_loc_num: 1187
  total_user_num: 46
embedding:
  base_emb_size: 64
  poi_original_size: 16
model:
  networkName: transformer
  num_encoder_layers: 2
  nhead: 4
  dim_feedforward: 256
  fc_dropout: 0.15
optimiser:
  optimizer: Adam
  max_epoch: 100
  lr: 0.001
  weight_decay: 1.0e-05
  beta1: 0.9
  beta2: 0.999
  momentum: 0.98
  num_warmup_epochs: 2
  num_training_epochs: 50
  patience: 5
  lr_step_size: 1
  lr_gamma: 0.1
